<footer class="bg-gray-700 text-gray-100">
  <div class="w-full lg:max-w-5xl mx-auto px-4 py-12 flex flex-col sm:flex-row justify-between gap-y-8 sm:gap-0">
    <div class="flex flex-col sm:flex-row">
      <div class="sm:pl-4">
        <h4 class="font-bold">ADDRESS</h4>
        <p>1234 Somewhere Road</p>
        <p>Honolulu, HI 96818</p>
      </div>
    </div>
    <div>
      <h4 class="font-bold">EMAIL</h4>
      <a href="mailto:example@email.com" class="link">example@email.com</p>
    </div>
    <div>
      <h4 class="font-bold">SITE MAP</h4>
      <ul>
        <li>
          <a href="/" class="link">Page 1</a>
        </li>
        <li>
          <a href="/" class="link">Page 2</a>
        </li>
      </ul>
    </div>
  </div>
</footer>
<a id="btt"
    class="hidden fixed bottom-0 right-0 mb-4 mr-4 btn"
    href="#top" title="Back to Top">UP</a>
</div>
