<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="preload" href="/css/{% generateCssHash %}.page.css" as="style">
<!-- PRELOAD CDN SCRIPTS -->
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="description" content="An example landing page.">
<meta name="robots" content="index,follow">
<meta name="theme-color" content="#ffffff">
<title>{{pageTitle}}</title>
<link rel="stylesheet" href="/css/{% generateCssHash %}.page.css">
