<section id="onboarding">
  <div class="section-container">
    <div class="text-container">
      <h2 class="section-title">Onboarding</h2>
      <p class="font-semibold text-gray-500 text-xl mb-6">
        {{ onboardingSubheading }}
      </p>
    </div>
    <div class="timeline">
      <div class="line"></div>
      {% for item in onboardingSteps %}
        <div class="step">
          <div class="absolute left-1/2 bg-purple-300 h-4 w-4 transform -translate-x-1/2 rounded-full"></div>
          <div class="content">
            <p>{{ item | safe }}</p>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
</section>